.App {
  text-align: center;
  background-color: #1E272C;
  color: white;
}

.counter-size-container {
  display: inline-block;
  border: 1px solid white;
  padding: 15px;
  border-radius: 1px;
  color: white;
  margin-bottom: 20px;
}

.counter-value {
  display: inline-block;
  width: 50px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}